- @upcoming.future.sort_by(&:date).each do |event|



  - if column_count >= 12
    - column_count = 0
    
  - if event.avatar_aspect? == :portrait
    - column_count += 3
  - else
    - column_count += 6
    
  %div{class: column_count == 0 ? :rowd  : :nothing}
    .single_event.columns.small-6{class: [event.avatar? ? (event.avatar_aspect? == :portrait ? 'small-6 medium-6 large-3' : (column_count > 12 ? "small-12 medium-#{event.avatar_width > 900 ? 12 : 6}  large-3" : "medium-6 small-6 large-6")) : 'small-6 medium-6 large-3', event == @upcoming.last && column_count < 12 ? 'hide-for-large-up' : false]}
      .inner{style: event.avatar? ? "background: url(http://ptarmigan.fi#{event.avatar.url}) no-repeat center center; background-size: cover;" : ''}
        %h3= link_to event.title, event
        .date
          = event.all_dates
        