%h2 Thank you!
%br/
%br/
Your application for the Ptarmigan artist-in-residency programme has been submitted.
%br/
%br/
The application will be reviewed in late May and you will be notified of our decision via email in early June.
%br/
%br/
You should receive an email confirmation of this message.  Please check your spam settings to make sure you can receive emails from air@ptarmigan.fi.
%br/
%br/
If you have any further questions about the application, please do not hesitate to contact info@ptarmigan.fi.
%br/
%br/
= link_to 'Return to Artist-in-Residency information page', '/air'
%br/
%br/
= link_to 'Return to front page', '/'
