%h3 Editing event / muokkaa tapahtumaa / muuda sündmust
= render :partial => "form", :locals => {:event => @event}
%ul
  %li= link_to 'Show', @event
  %li= link_to 'Back', admin_events_path
  %li= link_to 'Destroy', [:admin, @event], :confirm => 'Are you sure?', :method => :delete  