%p
  = t "kuulutused.tagline"
  = link_to t("kuulutused.submit"), 'javascript:void(0);', :onClick => "$('#big_map').css('width', '75%');$('#big_map').css('float', 'left');$('#infobox').css('display', 'block');$('#infobox').load('/places/new');"
  


#big_map
-#= gmaps(:map_options => {:raw => "{styles: myStyle}" },  "markers" => { "data" => @json, "options" => {"auto_zoom" => true, "auto_adjust" => true}  })
.three.columns
  #message
  #infobox


= content_for :scripts do
  :plain
    var myStyle = [ 
      { featureType: "all", stylers: [ { weight: 1.7}, 
         { "hue": "#00bbff"}, { saturation: -9 },
      { lightness: 14}, {gamma: 0.42}] }
      
    ];
    handler = Gmaps.build('Google');
    handler.buildMap({
        provider: {
          disableDefaultUI: true,
          styles: myStyle
          // pass in other Google Maps API options here
        },
        internal: {
          id: 'big_map'
        }
      },
      function(){
        markers = handler.addMarkers(#{raw @places.map(&:to_mapjson).to_json});
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      }
    );
    
    function onMarkerClick(marker, event){
      return function(event){
        $('#infobox').load("/places/" + marker.id);
      }
    }


