%h2= "Videohost \"#{@videohost.to_param}\""
- content_tag_for :div, @videohost do
  %ul
    %li
      %strong Name:
      =h @videohost.name
%ul
  %li= link_to 'Edit', edit_admin_videohost_path(@videohost)
  %li= link_to 'Back', admin_videohosts_path