.page
  .page_banner
    .row
      .small-8.columns.small-centered
        .title= @page.title
        
  .page_content
    .row
      .small-8.columns.small-centered.text-left
        .description
          = raw @page.body