@import 'font-awesome';

header {
  margin-top: 40px;
  margin-bottom: 25px;
  .header_text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 56px;
  }
  .languages {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    a {
      text-decoration: none;
      color: green;

    }
  }
}

body {
  p {
    font-family: 'Gentium Book Basic', serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    a {
      text-decoration: none;
      color: green;
      padding-left: 20px;
    }
  }
  
 #message {
   .title {
     font-family: 'Open Sans', sans-serif;
     font-weight: 600;
     font-size: 26px;
   }
   .address {
     font-family: 'Gentium Book Basic', serif;
     font-weight: 400;
     font-size: 15px;
     margin-top: 10px;
   }

 }
  
  #infobox {
    display: none;
    
    .vote_count {
      width: 100%;
      float: left;
      margin-bottom: 25px;
      .for {
        float: left;
        margin-right: 10px;
        color: green;
      }
      .against {
        float: left;
        color: red;
      }
    }
    
    h2 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 26px;
      line-height: 30px;
    }
    
    h3 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
    textarea {
      height: 80px;
    }
    li {
      list-style-type: none;
    }
    .title {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 26px;
    }
    .address {
      font-family: 'Gentium Book Basic', serif;
      font-weight: 400;
      font-size: 15px;
      margin-top: 10px;
    }
    
    .comments {

      .comment {
        margin-bottom: 10px;
        span.date {
          color: #999;
          font-family: 'Gentium Book Basic', serif;
          font-size: 12px;
          line-height: 13px;
        }
        .words {
          padding-left: 16px;
          color: #333;
        }
      }
    }
  }
  

}

footer {

    div {
      padding-top: 10px;
      line-height: 14px;
      .icons {
     
        a {
             float: right;
          margin-left: 15px;
          opacity: 0.6;
          -webkit-transition: opacity 0.7s linear;
          -moz-transition: opacity 0.7s linear;
          &:hover {
            opacity: 1;
            -webkit-transition: opacity 0.7s linear;
            -moz-transition: opacity  0.7s linear;
          }
        }
      }
    }
 
}