/*
 *= require common
 *= require ee/stylesheets/ptarmigan
 */

#ptarmigan_is_closed {
  padding: 1rem;
  background-color: #3477B6;
  
  h1 {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
  }
  p {
    padding: 1rem 2.5rem;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    color: white;
    
    a {
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}