$tallinn-blue: #3477B6;

body {
  text-align: left; 
  font-family:arial,sans-serif;
  color: #333333;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode',  sans-serif;
  font-size: 12px;
  line-height: 15px;
  background-color: white;
/*  background:transparent url(/images/layout/stripebg-ee.png) repeat scroll 0 0;*/
/*  background-color: #efefef;*/
}

h1 {
}

p {
	margin-bottom: 5px;

}

.artists p  {
  margin-bottom: 10px;
}
hr{
	color:#FF6633;
}

a img{
	border:medium none;
	/*margin-bottom:20px;	*/
}

a, a:visited {
	color: #3477B6;
	text-decoration: none;
}

a:hover {
  color:#3333CD !important;
}
.event_title a:hover {
  color: #3477B6;
}

.whitebg{
	background:#ffffff;
/*  border: 1px dotted #909090;*/
}

.whitebg p{
   	padding: 0 0 14px;
}

#wrap {
  width: 960px;
  text-align: left;
  margin: auto;
}



#right_column{
  width: 570px;
	float: left;
}

#right_column p {
	padding:10px;
}

.headline{
	margin-top: 8px;
}



#nav li a, #staffnav li a, #staffnav li a:visited {
  color: black;

  opacity: 1;
   -webkit-transition: opacity 1.1s linear;
   -moz-transition: opacity 1.1s linear;
}

#nav li a:visited {
  color:black;
  opacity: 1;
  -webkit-transition: opacity 1.1s linear;
  -moz-transition: opacity 1.1s linear;
}

#nav li a:hover, #staffnav li a:hover {
  color: black;
  opacity: .25;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
}

#logo{
  clear: right;
}

#top_bar {
  float: left;
  margin-top: 20px;
}

#staffnav{
	clear:right;
	float:right;
	margin-right:-5px;
	margin-top: 10px;
	background:#FFFFFF none repeat scroll 0 0;
}



#logo_container {
  float: left;
  width: 760px;
}

#about{
	clear:both;
}

#map{
	margin-top:15px;
}


#twitter {
  font-size: 9pt;
}

#twitter_update_list li a {
  color: #3477B6;
}

#top_bar #top_right {
  width: 500px;
  float: left;
  clear: none;
  margin-left: 30px;
}

#top_bar  #top_right #nav{
  float: left;
	margin: 25px 0 5px 0px; 
	background:#FFFFFF none repeat scroll 0 0;
}

#top_bar #top_right #web2_inline {
  width: 150px;
  float: left;
}

#top_bar  #top_right #language { 
  float: right;
}


#footer{
  .ptarmigan_footer {
    a {
      color: #3477B6;
    }
  }

}

/**front page **/

#up_coming{
	
}

/**other pages**/
#container {

	width: 960px;
	text-align: left;
	margin: auto;
}

#left_column {
  width: 690px;
  float: left;
  margin: 10px 10px 10px 0px;
}

#right_column{
  width: 250px;
  float: left;
}

/**events**/


.event img {
/*  float:left;*/
	padding-right:10px;
}

.event p {
  margin-bottom: 5px;
}

.event_front_parameters {
  float: left;
  width: 210px;
}

.event_front_parameters img {
	float: left;
}

.event_facebook {
	float: right;
	width: 32px;
}
.event_type {

}



.artist_events, .project_events {
  margin-top: 10px;
  margin-left: 80px;
  margin-bottom: 10px;
}

#projects .project, #pastprojects .project {
  border-bottom: 1px solid #3477B6;
}
.event_front_date, .front_read_more, .event_front_cost {
	margin-left: 62px;  
	font-size: 9pt;
}



.event_promoter{}

.artist_parameters, .project_parameters {
  margin-top: 5px;
  margin-bottom: 5px;
}

.event_description a {
	color: #3477B6;
}


.read_more{
	font-family: georgia, serif;
	font-style: italic;
}

.read_more a , .artist_links a,  .project_links a {
	color:#06c;

}


.read_more a:hover {
	color:#3333CD;
}

.read_more a:visited {
	color: #3333CD;
}

.project_events .project_event {
  border-bottom: 1px dotted #3333CD;
}
/* John's shit */

.admin_english {
  float: left;
  width: 40%;
}

.admin_finnish {
  float: right;
  width: 40%;
}

/**calendar**/
#the_calendar{
  background:#FFFFFF none repeat scroll 0 0;
  clear:right;
  float:left;
  margin-bottom: 5px;

}



.previous a{
	font-weight:normal;
}

.current {
	text-align:center;
	
}

.next a{
	font-weight:normal;
}

.day_names{
	color: #00D735;
}

/**twitter**/

#twitter_update_list{
	background-color:#FFFFFF;

	list-style-type:none;
}

#twitter_update_list li {
  margin-bottom: 10px;
}
#twitter_update_list  {
  padding-left: 5px;
}


.sidebar-title{
	clear:right;

}



#twitter-link{
	float:right;
	clear:right;
}

#rss {
  float: right;
}

.wiki a {
    color: #00CC33;
}

.wiki {
  background-color: white;
}

.smaller_font {
	font-size: 9pt;
}

.front {
	width: 250px;
	height: 90px;
	background: white;
	border: none;
	float: left;
	overflow: hidden;
	margin: 10px;
	padding: 5px;
}


#projects_front {
  clear:none;
  float:left;
  padding-top:5px;
  width:260px;

}

#projects_front img, #artists_front img {
	float: left;
	margin-right: 5px;
}

#artists_front {
  float:left;
  margin:5px 0 0 20px;
  width:250px;
}

.user_content_title {
	font-size: 15pt;
	clear: left;
}
.video_title {
	font-size: 13pt;
}

#latest_front {


  background-color: white;
  width: 490px;
  overflow:hidden;
	float: left;
}
.see_all {
	float: right;
	padding: 3px;
	background-color: white;
}

.latest {
	background-color: white;
}

.recaptchatable .recaptcha_image_cell, #recaptcha_table {
  background-color:#FFFFFF !important; //reCaptcha widget background color
}

#recaptcha_table {
  border-color: #00CC33 !important; //reCaptcha widget border color
}

#recaptcha_response_field {
  border-color: #00CC33 !important; //Text input field border color
  background-color:#00CC33 !important; //Text input field background color
}

li.required {
  list-style: none;
}
abbr  {
  display: none;
}

.applicant_form {
  padding: 20px;
  background-color: #eeeedd;
}

fieldset {
  border: none;
}

.buttons li {
  list-style: none;
}

dt.label {
  font-size: 11pt;
}

.airforms {
  margin: 15px;
}

.residency {
  padding: 8px;
}

#image_entry {
  width: 960px;
}
ul.country_select li ul.subnav {
  background-color: #EFEFEF;
}
#dynamic_wrap {
  clear: both;
}

.frontpage_wrap {
  width: 900px; 
  padding: 15px;
  background-color: #FFFFFF;
  font-size: 1.1em;
  overflow: auto;
}

.frontpage_wrap p {
  margin-bottom: 10px;
}

.event .resources {
  margin-top: 15px;
  padding-top: 10px;
  margin-bottom: 25px;
}

.resources img {
  float: left;
  clear: both;
}

.resource_description {
  float: left;
  clear: both;
}

.resource_description a {
  clear: right;
}

.top_wide {
  width: 960px;
  margin-bottom: 20px;
}

.top_wide .left_side_front {
  float: left; 
  width: 610px;
}

.front_box {
  float: left;
/*  padding: 2px 5px 5px 10px;*/
  width: 100%;
}

.top_wide .events {
  margin-top: 10px;
}
.top_wide .events .event_front {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
  padding-bottom: 13px;

}
.top_wide .events .event_front .event_image {
  float: left;
  margin: 0px 10px 0px 5px;
} 

.project_image {
  margin-left: 5px;
}


.project_name a {
  color: black;
  margin-left: 5px;
}




.top_wide .events .event_front .event_facebook {
  float: right;
  width: 20px;
}

.top_wide .events .event_front .event_notes {
  margin-top: 2px;
  font-size: 10pt;
}


.top_wide .projects .project_front_parameters {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.top_wide .projects .project_front_parameters .project_front_image {
  float: left;
}

.top_wide .projects .project_front_parameters .project_front_title a {
  font-size: 11pt;
  color: black;
  font-weight: bold;
}
.top_wide .projects .project_front_parameters .project_front_metadata {
  float: left;
  width: 240px;
  margin-left: 10px;
}

#country_menu {
  clear: left;
  float: right;
}

#country_menu ul {
  width: 160px;
  clear: none;
  display: inline;
}
#country_menu img {
  margin-left: 10px;
}
#country_menu  ul li{
  float: right;
  list-style-type: none;
}

#country_menu ul li img {
  opacity: 1;
  -webkit-transition: opacity 1.4s linear;
  -moz-transition: opacity 1.4s linear;
}

#country_menu ul li a:hover img {
  opacity: .25;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
}

.front_about {
  clear: both;
  margin-top: 20px;
  width: 880px;
  background-color: white;
  padding: 2px 5px 5px 10px;
}

.right_side_front {
  width: 300px;
  float: left;
  margin-left: 50px;
}



button.email_signup {
  background-color: #06c;
  color: white;
  border-color: white;
}

form#new_proposal #dynamic_recaptcha #recaptcha_area {
  float: left;
}

.archivewall img {
  float: left;
  margin-left: 2px;
  margin-bottom: 2px;
  
}

.find_us {
  margin-bottom: 15px;
}

form.wikirevision ol {
  list-style-type: none;
}

form.wikirevision li label {
  float: left;
  width: 200px;
}

#wikifiles {
  margin-left: 200px;
}

#wikifiles .new_wikifile {
  margin-bottom: 20px;
  border-bottom: 1px dotted grey;
}

#wikifiles li {
  clear: left;
}

.pagination span {
    background: url(image_path('layout/calendar/circle_e.png')) no-repeat; 
    opacity: 1;
    -webkit-transition: opacity 1.1s linear;
    -moz-transition: opacity 1.1s linear;
    -o-transition: opacity 1.1s linear;
    transition: opacity 1.1s linear;
    &:hover {
      background: url(image_path('layout/calendar/_E__.png') ) no-repeat 2px 0px;
      color: white;
      opacity: .25;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
    }
}

span.current {
    background: url(image_path('layout/calendar/_E__.png') ) no-repeat 2px 0px;
}
