.row
  .large-12.columns.cities
    %ul.horizontal.menu
      %li.active rīga
      / %li daugavpils
      / %li liepāja
      / %li ventspils
      / %li cēsis...
    
- unless @wide_ad.nil?
  .wide_wrapper
    = link_to image_tag(@wide_ad.wide.url), @wide_ad.link_url, target: :_blank