body {
  text-align: left; 
  color: #333333;
  /* font: normal normal normal 13px/1.3 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; */
  background-color: #FFFFFF;
}

h1 {
}

p {
	margin-bottom: 5px;
}

hr{
	color:#FF6633;
}

a img{
	border:medium none;
	margin-bottom:20px;	
}

a{
	color: #00A329;
	text-decoration: none;
}


a:visited{
	color:#00A329;
}

.whitebg{
	background:#ffffff;
}

.whitebg p{
   	padding: 0 0 14px;
}

#wrap {
  width: 960px;
  text-align: left;
  margin: auto;
}

#left_column {
	float: left;
	margin: 0px 10px 10px 0px;
}

#right_column{
	float: left;
}

#right_column p {
	padding:10px;
}




#staffnav{
	clear:right;
	float:right;
	margin-right:-5px;
	margin-top: 10px;
	background:#FFFFFF none repeat scroll 0 0;
}


#language{
/*	clear:both;*/
	float:right;
	margin-top:5px;
}

#about{
	clear:both;
}

#map{
	margin-top:15px;
}

#web2{
	clear:right;
	float:right;
	margin-top:15px;
}

#web2_inline {

  width: 115px;
	clear: none;

}

#footer{}

/**front page **/

#up_coming{
	
}

/**other pages**/
#other_wrap{
	width: 960px;
	text-align: left;
	margin: auto;
}

#other_wrap #left_column{
  width:560px;
}

#other_wrap #right_column {
	width: 380px;
	
}

/**events**/

.event, .artist, .project {

	background:#FFFFFF none repeat scroll 0 0;
	border-bottom:1px dotted #999;
	border-width: 60%;
	
}

.event img {
/*  float:left;*/
	padding-right:10px;
}

.event_parameters{
	float:left;
}

.event_front_parameters {
  float: left;
  width: 210px;
}

.event_front_parameters img {
	float: left;
}

.event_facebook {
	float: right;
	width: 32px;
}
.event_type {
/*	display:none;*/
}

.event_title, .artist_name, .project_name {
	font-weight:bold;
	clear:left;
	font-size:16px;
}

.event_front_title {
	font-weight:bold;
	font-size: 13px;
	margin-left: 62px;
}

.event_front_title_single {
  font-weight:bold;
	font-size: 17px;

}

.event_front_title a, .event_front_title_single a {
	color: #333333;
}

.event_title a {
  color: black

}
.event_title {
  font-family: Helvetica, Arial, sans-serif;
}

.artist_events, .project_events {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#projects .project, #pastprojects .project {
  border-bottom: 1px solid #00D735;
}

.event_front_date, .front_read_more, .event_front_cost {

	font-size: 9pt;
}



.event_promoter{}

.artist_parameters, .project_parameters {
  margin-top: 5px;
  margin-bottom: 5px;
}


.event_description a {
	color: #00D735;
}

.event_metadata{
	padding-top: 5px;
}

.event_cost{}

.read_more{
	font-family: georgia, serif;
	font-style: italic;
}

.read_more a , .artist_links a,  .project_links a {
	color:#00CC33;
}

.read_more a:hover {
	color:#00CC33;
}

.read_more a:visited {
	color:#00CC33;
}

/* John's shit */

.admin_english {
  float: left;
  width: 40%;
}

.admin_finnish {
  float: right;
  width: 40%;
}

/**calendar**/
#the_calendar{
  background:#FFFFFF none repeat scroll 0 0;
  clear:right;
  float:left;
  margin-bottom: 5px;
  padding:5px;
}

.dayWithEvents a{ 
font-size: 13px; 
font-weight: bold; 
color:  white;
}

.previous a{
	font-weight:normal;
}

.current {
	text-align:center;
	
}

.next a{
	font-weight:normal;
}

.day_names{
	color: #00D735;
}

/**twitter**/


#twitter_update_list li {
  margin-bottom: 10px;
}


.sidebar-title{
	clear:right;
	float:right;
}



#twitter-link{
	float:right;
	clear:right;
}

.new_carousel {
  clear: both;
}
#rss {
  float: right;
}

.wiki a {
    color: #00CC33;
}

.wiki {
  background-color: white;
}

.smaller_font {
	font-size: 9pt;
}

.front {
	width: 250px;
	height: 90px;
	background: white;
	border: none;
	float: left;
	overflow: hidden;
	margin: 10px;
	padding: 5px;
}


#projects_front {
  clear:none;
  float:left;
  padding-top:5px;
  width:260px;

}

#projects_front img, #artists_front img {
	float: left;
	margin-right: 5px;
}

#artists_front {
  float:left;
  margin:5px 0 0 20px;
  width:250px;
}

.user_content_title {
	font-size: 15pt;
}
.video_title {
	font-size: 13pt;
}

#latest_front {
	margin: 10px 0 10px 5px;
	padding: 0 0 5px 5px;
	width: 550px;
	float: left;
}
.see_all {
	float: right;
	padding: 3px;
	background-color: white;
}

.latest {
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 10px;
	background-color: white;
	background: url(layout/bird_28.png) left  no-repeat;
  height: 28px;
  padding-left: 30px;
}

.recaptchatable .recaptcha_image_cell, #recaptcha_table {
  background-color:#FFFFFF !important; //reCaptcha widget background color
}

#recaptcha_table {
  border-color: #00CC33 !important; //reCaptcha widget border color
}

#recaptcha_response_field {
  border-color: #00CC33 !important; //Text input field border color
  background-color:#00CC33 !important; //Text input field background color
}

li.required {
  list-style: none;
}
abbr  {
  display: none;
}

.applicant_form {
  padding: 20px;
  background-color: #eeeedd;
}

fieldset {
  border: none;
}

.buttons li {
  list-style: none;
}

dt.label {
  font-size: 11pt;
}

.airforms {
  margin: 15px;
}

.residency {
  padding: 8px;
}

#image_entry {
  width: 960px;
}

#country_select {
  margin-left: 25px;
  margin-top: -75px;
  padding: 35px;
}

#country_select .ee_flag {
  display: none;
  margin-top: -3px;
  border: 2px solid rgba(0, 0, 0, 0.0);

}
#country_select .ee_flag  { 
    width: 17px;  
    height: 35px;  
    float: left;  
    background: url(layout/subnav_btn.gif) no-repeat center top;  
}


#country_select .ee_flag span.subhover {
  background-position: center bottom bottom; 
  cursor: pointer;
}

#country_select .fi_flag {
  margin-bottom: 0px;
  background: url('layout/topnav_bg.gif') repeat-x;
}

#twitter_update_list li {
  font-size: 9pt;
}
#twitter_update_list li a{
	clear:right;
	color:#00D735;
/*  float:right;*/
	font-size:10px;
	padding-top:5px;
}

.event_front_single {
  margin: 10px;
  padding: 5px;

  background-color: white;
}
 .event_front_single img {
   margin-right: 15px;
 }

.event_front_single .event_info {
  margin-top: 15px;
}

.event_front_single .event_image {
  float: left;
}

.event_front_single .event_data {
  float: left;
  background-color: inherit;
  margin-left: 15px;
  width: 480px;
}

 
 .event_front_single .metadata {
   font-size: 9pt;
   margin-bottom: 5px;
 }


.event_info .description li {
  list-style-type: none;
}


#email_signup_box  {
  clear: left;
}

#email_signup_box .headline {
  margin-top: 0px;


}



form#new_proposal .field  label {
  width: 150px;
  
}

form#new_proposal #dynamic_recaptcha #recaptcha_area {
  float: left;
}

form#new_proposal .actions {
  width: 150px;
}

form#new_proposal .actions input#proposal_submit {
  margin-left: 0px;
  margin-top: 30px;
}

.pagination span {
    background: url(image_path('layout/calendar/circle_f.png')) no-repeat; 
    opacity: 1;
    -webkit-transition: opacity 1.1s linear;
    -moz-transition: opacity 1.1s linear;
    -o-transition: opacity 1.1s linear;
    transition: opacity 1.1s linear;
    &:hover {
      background: url(image_path('layout/calendar/H___.png') ) no-repeat 2px 0px;
      color: white;
      opacity: .25;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
    }
}

span.current {
    background: url(image_path('layout/calendar/H___.png') ) no-repeat 2px 0px;
}
