.applicant_form
  Thank you for signing up for the Ptarmigan artist-in-residency programme.  You must activate your account via an
  activation link which has been emailed to you.
  %br/
  %br/
  Please configure your email software to whitelist the address air @ ptarmigan.fi (and check your Junk folder if you
  do not receive this email within a few minutes).
  %br/
  %br/
  Upon activation, you will be able to 
  =link_to 'start your application.', '/air'
  %br/
  %br/
  If you do not receive the activation email, please contact air @ ptarmigan.fi and provide the email address that you
  used to register for the account.
  %br/
  Thank you!