$madhouseblue: rgb(35, 164, 170);
$signika: 'Signika', sans-serif;
$bodytext: 'Verdana', 'Arial', sans-serif;

header {
  padding: 1.125rem 0;
  .icons {
    float: left;
    a {
      color: $madhouseblue;
    }
    i {
      margin-right: 0.4rem;
    }
    margin: -2.7rem 0 0 1rem;
  }
  .title {
    min-height: 50px;
    text-align: center;

    padding: 0.7rem;
  }
  .languages {
    float: right;
    margin: -2.5rem 1rem 0 1rem;
    font-size: 0.7rem;
  }
  
  clear: both;
}

.carousel {
  text-align: center;
  .slide {
    img {
      width: 100%;
      height: auto;
    }
  }
}

footer {
  margin-top: 1.2rem;
  padding: 1.5rem 0;
  background-color: $madhouseblue;
  max-height: 150px;
  
  .logos {
    img {
      max-height: 75px;
      max-width: 20%;
      padding: 0 1rem;
    }
  }
  
}

.upcoming_events {
  h3 {
    font-family: $signika;
    font-weight: 600;
    color: $madhouseblue;
    text-transform: uppercase;
  }
  .event {
    margin: 1rem 0;
    .top_box {
      padding: 0.7rem;
      font-family: 'Signika', sans-serif;
      font-weight: 600;
      font-size: 1.15rem;
      line-height: 1.5rem;
      height: 120px;
      background-color: $madhouseblue;
      color: white;
      .date {
        margin-top: 0.75rem;
        font-size: 0.9rem;
      }
    }
    .description {
      padding: 0.7rem;
      color: #444;
      height: 180px;
      overflow: hidden;

      p {
        font-size: 0.875rem;
        line-height: 1.3rem;
      }
      border-left: 1px solid $madhouseblue;
      border-right: 1px solid $madhouseblue;
      border-bottom: 1px solid $madhouseblue;
      
    }

  }
}

.event {
  .event_title_bar {
    background-color: black;
    margin-bottom: 3.125rem;
    color: white;
    padding: 2.8rem 0;
    a {
      color: $madhouseblue;
    }
    h1 {
      font-family: $signika;
      font-size: 2.375rem;
      line-height: 2.5rem;
      color: white;
    }
  }
  .event_description, .event_description p {
    font-family: $bodytext;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333;
  }
  
  .event_info, .event_info p {
    margin-top: 1.5rem;
    color: $madhouseblue;
    font-family: $signika;
    line-height: 1.625rem;
    font-size: 1.125rem;
  }
}