$madhouseblue: rgb(35, 164, 170);
$signika: 'Signika', sans-serif;
$bodytext: 'Verdana', 'Arial', sans-serif;

a {
  color: $madhouseblue;
}
header {
  padding: 1.125rem 0 0.4rem 0;
  .icons {
    float: left;
    a {
      color: $madhouseblue;
    }
    i {
      margin-right: 0.4rem;
    }
    margin: 0rem 0 0 1rem;
  }
  .title {
    min-height: 50px;
    text-align: center;

    padding: 0.7rem;
  }
  .languages {
    float: right;
    margin: 0rem 1rem 0 1rem;
    font-size: 0.7rem;
  }
  
  clear: both;
  
  .menu_bar {
    clear: both;
    font-size: 0.9rem;
    font-family: $signika;
    display: none;
    .menu_items {
      display: inline-block;
      ul.top_nav {
        display: table;
        max-height: 1.4rem;
        width: 100%;
        margin: 0;
        li {
          display: table-cell;
          text-align: center;
          white-space: nowrap;       
        }
      }
    }
  }
}

.carousel {
  text-align: center;
  .slide {
    img {
      width: 100%;
      height: auto;
    }
    .caption {
      background-color: rgba(230, 230, 230, 0.8);
      margin-top: -2rem;
      position: fixed;
      z-index: 3;
      padding: 0.5rem 1.4rem;
      bottom: 0;
      max-width: 50%;
      font-size: 1rem;
      font-family: $signika;
      color: $madhouseblue;
      .category {
        padding-right: 0.3rem;
        float: left;
        font-size: 1.5rem;
      }
      .title {
        float: left;
        a {
          color: $madhouseblue;
        }
        font-size: 1.5rem;
      }
      .date {
        clear: left;
      }
    }
  }
}

footer {
  margin-top: 1.2rem;
  padding: 1.5rem 0;
  background-color: $madhouseblue;
  max-height: 150px;
  
  .logos {
    img {
      max-height: 75px;
      max-width: 20%;
      padding: 0 1rem;
    }
  }
  
}

.upcoming_events {
  h3 {
    font-family: $signika;
    font-weight: 600;
    color: $madhouseblue;
    text-transform: uppercase;
  }
  .event {
    margin: 1rem 0;
    .top_box {
      padding: 0.7rem;
      font-family: 'Signika', sans-serif;
      font-weight: 600;
      font-size: 1.15rem;
      line-height: 1.5rem;
      height: 120px;
      background-color: $madhouseblue;
      color: white;
      .date {
        margin-top: 0.75rem;
        font-size: 0.9rem;
      }
    }
    .description {
      padding: 0.7rem;
      color: #444;
      height: 180px;
      overflow: hidden;

      p {
        font-size: 0.875rem;
        line-height: 1.3rem;
        background-color: white;
        float: left;
        padding: 0.34rem;
        opacity: 0.8;
      }
      border-left: 1px solid $madhouseblue;
      border-right: 1px solid $madhouseblue;
      border-bottom: 1px solid $madhouseblue;
      
    }

  }
}

.page  {
  
  .page_banner {
    padding: 1.4rem 0;
    background-color: $madhouseblue;
    .title {
      font-size: 2.2rem;
      line-height: 2.65rem;
      font-family: $signika;
      color: #FFF;
    }
  }
  .page_content {
    margin-top: 2rem;
    .description {
      p {
        font-size: 0.875rem;
        line-height: 1.35rem;
        color: #444;
      }
    }
  }
}
.front_posts_container {
  background-color: black;
  padding: 1.5rem 0;
  color: white;

  .single_post {
    background-color: #000;
    padding: 0rem 1.1rem;
    margin-bottom: 1.4rem;
    color: #333;
    height: 500px;
    .inner {
      padding: 0.8rem;
      height: 100%;
      h3 {
        a { color: #EFEFEF; 
          &:hover {
            color: $madhouseblue;
          }
        }
        float: left;
        font-size: 1.625rem;
        line-height: 1.8rem;
        background-color: #000;
        padding: 0.4rem 0.7rem;
        font-family: $signika;
        margin-bottom: 0;
      }
      .date {
        clear: both;
        color: #999;
        background-color: #222;
        padding: 0.4rem 0.7rem;
        float: left;
        font-size: 0.7rem;
        margin-top: 0.25rem;
        text-transform: uppercase;
      }
    }
  }
  
  .latest_post_container {
    background-color: #000;
    color: white;
    padding: 0rem 1.1rem;
    height: 500px;
    overflow: hidden;
    .inner {
      padding: 0.8rem;
      height: 100%;
      background-color: $madhouseblue;
    }
    h3 {
      font-family: $signika;
      font-size: 1.8rem;
      line-height: 2rem;
      margin-bottom: 0.8rem;
      
      color: #FFF;
    }
    .post_entry {
      margin-bottom: 2rem;
      .title {
        font-family: $signika;
        font-size: 1.125rem;
        line-height: 1.4rem;
        font-style: italic;
        margin-bottom: 0.4rem;
        a {
          color: #ccc;
          &:hover {
            color: #FFF;
          }
        }
      }
      .date {
        font-size: 0.7rem;

        color: #EFEFEF;
        text-transform: uppercase;
      }
    }
  }
}

.event {
  
  .related_header {
    margin-top: 4rem;
    font-family: $signika;
    color: $madhouseblue;
    font-size: 2rem;
    padding-left: 0;
  }
  .event_title_bar {
    background-color: black;
    margin-bottom: 3.125rem;
    color: white;
    padding: 2.8rem 0;
    a {
      color: $madhouseblue;
    }
    h1 {
      font-family: $signika;
      font-size: 2.375rem;
      line-height: 2.5rem;
      color: white;
    }
    h4 {
      a { color: #BBB; }
    }
  }
  .event_description, .event_description p {
    font-family: $bodytext;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333;
  }
  
  .event_info, .event_info p {
    margin-top: 1.5rem;
    color: $madhouseblue;
    font-family: $signika;
    line-height: 1.625rem;
    font-size: 1.125rem;
  }
  .google_map {
    display: none;
  }
  .festival_event {
    padding-bottom: 25%;
    height: 0;
    margin: 0.5rem 0;
    cursor: pointer;
    &.odd {
      background-color: $madhouseblue;
    }
    &.even {
      background-color: #222;
    }
    
    .title {
      margin-top: 0.5rem;
      font-family: $signika;
      font-size: 1.4rem;
      line-height: 1.76rem;
      background-color: white;
      padding: 0.3rem;
      float: left;
    }
    .dates {
      margin-top: 0.5rem;
      font-family: $signika;
      font-size: 0.9rem;
      line-height: 1.76rem;
      background-color: white;
      padding: 0.3rem;
      float: left;
    }
  }
}

.post_single {
  margin-top: 1.4rem;
  .post_title {
    padding: 1.5rem 0;
    margin-bottom: 0.8rem;
    background-color: $madhouseblue;
    .blog_title {
      font-family: $signika;
      font-size: 2rem;
      line-height: 2.4rem;
      color: #FFF;
    }
  }
  
  .post_content {
    .post_metadata {
      font-size: 0.8rem;
      text-transform: uppercase;
      color: #333;
      margin-bottom: 1rem;
    }
    .blog_image {
      margin-bottom: 1rem;
    }
    .blog_body, .blog_body p {
      color: #333;
      font-size: 0.875rem;
    }
  }
  .prev_next {
    font-size: 1.125rem;
    font-family: $signika;
    a {
      color: $madhouseblue;
    }
  }
  
}

#mapcontainer {
  height: 200px;
}


// events index page

.events_index {
  background-color: black;
  padding: 1.5rem 0;
  color: white;
  .latest_event_container {
    background-color: #000;
    color: white;
    padding: 0rem 1.1rem;
    height: 500px;
    overflow: hidden;
    .inner {
      padding: 0.8rem;
      height: 100%;
      background-color: $madhouseblue;
    }
    h3 {
      font-family: $signika;
      font-size: 1.8rem;
      line-height: 2rem;
      margin-bottom: 0.8rem;
      
      color: #FFF;
    }
    .event_entry {
      margin-bottom: 2rem;
      .title {
        font-family: $signika;
        font-size: 1.125rem;
        line-height: 1.4rem;
        font-style: italic;
        margin-bottom: 0.4rem;
        a {
          color: #ccc;
          &:hover {
            color: #FFF;
          }
        }
      }
      .date {
        font-size: 0.7rem;

        color: #EFEFEF;
        text-transform: uppercase;
      }
    }
  }
  
  
  h3 {
    font-family: $signika;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 0.8rem;
    
    color: #FFF;
  }
  .single_event {
    background-color: #000;
    padding: 0rem 1.1rem;
    margin-bottom: 1.4rem;
    color: #333;
    height: 500px;
    .inner {
      padding: 0.8rem;
      height: 100%;
      h3 {
        a { color: #EFEFEF; 
          &:hover {
            color: $madhouseblue;
          }
        }
        float: left;
        font-size: 1.625rem;
        line-height: 1.8rem;
        background-color: #000;
        padding: 0.4rem 0.7rem;
        font-family: $signika;
        margin-bottom: 0;
      }
      .date {
        clear: both;
        color: #999;
        background-color: #222;
        padding: 0.4rem 0.7rem;
        float: left;
        font-size: 0.7rem;
        margin-top: 0.25rem;
        text-transform: uppercase;
      }
    }
  }
}