$madhouseblue: rgb(35, 164, 170);
$madhouselightblue: #8be1e5;
$signika: 'Signika', sans-serif;
$bodytext: 'Verdana', 'Arial', sans-serif;

html,
body {
   margin:0;
   padding:0;
   height:100%;
   overflow-x: hidden;
}



a {
  color: $madhouseblue;
  -moz-transition:color .2s ease-in;
  -o-transition:color .2s ease-in;
  -webkit-transition:color .2s ease-in;
  &:hover {
   color: $madhouselightblue; 
  }
}

#container {
   min-height:100%;
   position:relative;
}

header {
  padding: 1.125rem 0 0.4rem 0;
  .icons {
    position: absolute;
    float: left;
    font-size: 0.9rem;
    a {
      color: $madhouseblue;
    }
    i {
      margin-right: 0.4rem;
    }
    margin: 0rem 0 0 1rem;
  }
  .title {
    min-height: 50px;
    text-align: center;
    &.front {
      padding-bottom: 1rem;
    }
  }
  .right_menu_link {
    float: right;
    right: 10px;
    position: absolute;
    margin: -0.4rem 1rem 0 1rem;

    font-size: 0.9rem;
    overflow-y: hidden;
    text-transform: uppercase;
    font-family: $signika;
  }
  .languages {
    float: right;
    right: 10px;
    position: absolute;
    margin: -0.4rem 1rem 0 1rem;
    font-size: 0.7rem;

  }
  
  clear: both;
  
  .menu_bar {
    clear: both;
    font-size: 0.9rem;
    font-family: $signika;
    display: none;
    &.visible {
      display: block;
    }
    .menu_items {
      width: 100%;
      display: inline-block;
      ul.top_nav {
        display: table;
        max-height: 1.4rem;
        width: 100%;
        margin: 0;
        li {
          display: table-cell;
          text-align: center;
          white-space: nowrap;       
        }
      }
    }
  }
}

.carousel {
  text-align: center;
  .slide {
    img {
      width: 100%;
      height: auto;
    }
    .caption {
      background-color: rgba(230, 230, 230, 0.8);
      margin-top: -2rem;
      position: fixed;
      z-index: 3;
      padding: 0.5rem 1.4rem;
      bottom: 0;
      max-width: 50%;
      font-size: 1rem;
      font-family: $signika;
      color: $madhouseblue;
      .category {
        padding-right: 0.3rem;
        float: left;
        font-size: 1.5rem;
      }
      .title {
        float: left;
        a {
          color: $madhouseblue;
        }
        font-size: 1.5rem;
      }
      .date {
        clear: left;
      }
    }
  }
}


.social_other {
  background-color: $madhouseblue;
  min-height: 350px;
  .facebook_box, .instagram_box{
    margin: 0.5rem;
    font-size: 0.75rem;
    border: 1px dotted #FFF;
    padding: 0.3rem;
    border-radius: 3px;
    
    .text {
      opacity: 0.8;
      clear: both;
      color: #222;
      background-color: #FFF;
      padding: 0.4rem 0.7rem;
      float: left;
      font-size: 0.7rem;
      margin: 0.3rem;
      max-width: 90%;
      overflow-x: hidden;
    }
    .timestamp {
      font-size: 0.6rem;
    }
  }
  
  .facebook_box {
    width: 320px;
    min-height: 320px;
    float: left;
    margin: 0.5rem;
  }
  .instagram_box {
    width: 320px;
    min-height: 320px;
    float: left;
    margin: 0.5rem;
   }
}

.social_front {

  clear: both;
  padding: 0.4rem 0;

  .twitter_box {
    font-size: 0.75rem;
    margin: 0.3rem;
    width: 100%;
    border-radius: 3px;
    i {
      font-size: 1.35rem;
      margin-right: 0.4rem;
    }
    .text {
      opacity: 0.8;
      clear: both;
      color: #222;
      background-color: #FFF;
      padding: 0.4rem 0.7rem;
      float: left;
      font-size: 0.7rem;
      margin: 0.3rem;
      max-width: 90%;
      overflow-x: hidden;
    }
    .timestamp {
      font-size: 0.6rem;
    }
  }

  
}

.mailing_list_front {
  background-color: #000;
  .blurb {
    padding-top: 150px;
    color: #FFF;
    font-family: $signika;
    font-size: 1.125rem;
  }
  #email_error {
    color: #FFF;
    font-family: $signika;
    font-size: 1.125rem;
  }
  form#email_form {
    max-width: 50%;
    text-align: center;
    margin: 0 auto; 
  }
  .email_signup_form {
    color: #FFF;

    font-family: $signika;
    font-size: 1.125rem;
    input[type=text], input[type=email] {
      border: none;
      outline: none;
      height: 1.9rem;
      border-radius: 3px;
      color: #23a4aa;
      background-color: #E3E2E2;
    }
    input.email_signup {
      display: none;
    }
  }
}

.social_other.slick-slider {
  margin-bottom: 0 !important;
}

footer {
  clear: left;
//  margin-top: 1.2rem;
  padding: 1.5rem 0;
  background-color: $madhouseblue;
  max-height: 300px;

  bottom: 0;
  //  padding: 1rem;
  
  .mailing_list {
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    .blurb {
      color: #FFF;
      font-family: $signika;
      font-size: 1.125rem;
    }
    #email_error {
      color: #FFF;
      font-family: $signika;
      font-size: 1.125rem;
    }
    .email_signup_form {
      color: #FFF;
      font-family: $signika;
      font-size: 1.125rem;
      input[type=text], input[type=email] {
        border: none;
        outline: none;
        height: 1.9rem;
        border-radius: 3px;
        color: #23a4aa;
        background-color: #E3E2E2;
      }
      input.email_signup {
        display: none;
      }
    }
  }
  .logos {
    img {
      max-height: 75px;
      max-width: 20%;
      padding: 0 1rem;
    }
  }
  
}

span.ticket_button {
  border: 1px solid $madhouseblue;
  padding: 0.2rem;
  border-radius: 5px;
  margin-left: 10px;
  background-color: $madhouseblue;
  color: white;
  a {
    color: #FFF;
    opacity: 1;
       transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
       -webkit-transition: opacity .25s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}

span.facebook_button {
  border: 1px solid $madhouseblue;
  padding: 0.2rem;
  border-radius: 5px;
  margin-left: 0px;
  background-color: $madhouseblue;
  color: white;
  a {
    color: #FFF;
    opacity: 1;
       transition: opacity .25s ease-in-out;
       -moz-transition: opacity .25s ease-in-out;
       -webkit-transition: opacity .25s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}
.upcoming_events {
  .smaller {
    padding-bottom: 0.8rem;
    font-size: 0.75rem;
    float: right;
    margin-right: 0.8rem;
  }
  h3 {
    font-family: $signika;
    font-weight: 600;
    color: $madhouseblue;
    text-transform: uppercase;
  }
  .event {
    margin: 1rem 0;
    .top_box {
      overflow-y: hidden;
      padding: 0.7rem;
      font-family: 'Signika', sans-serif;
      font-weight: 600;
      font-size: 1.15rem;
      line-height: 1.5rem;
      height: 120px;
      background-color: $madhouseblue;
      color: white;
      .date {
        margin-top: 0.75rem;
        font-size: 0.9rem;
      }
    }
    .description {
      padding: 0.7rem;
      color: #444;
      height: 180px;
      overflow: hidden;

      p {
        font-size: 0.875rem;
        line-height: 1.3rem;
        background-color: white;
        float: left;
        padding: 0.34rem;
        opacity: 0.8;
      }
      border-left: 1px solid $madhouseblue;
      border-right: 1px solid $madhouseblue;
      border-bottom: 1px solid $madhouseblue;
      
    }

  }
}

.page  {
  
  .page_banner {
    padding: 1.4rem 0;
    background-color: $madhouseblue;
    .title {
      font-size: 2.2rem;
      line-height: 2.65rem;
      font-family: $signika;
      color: #FFF;
    }
  }
  .page_content {
    margin-top: 2rem;
    .description {
      p {
        font-size: 0.875rem;
        line-height: 1.35rem;
        color: #444;
      }
    }
  }
}
.front_posts_container {
  background-color: black;
  padding: 1.5rem 0;
  color: white;
  .smaller {
    padding-bottom: 0.8rem;
    font-size: 0.75rem;
    float: right;
    margin-right: 0.8rem;
  }
  a {

    &:hover {
     
     .single_post {
       
       opacity: 0.9; 
       .inner {
         h3 {
           color: $madhouselightblue;
         }
       }
     }
    }
    .single_post {
      background-color: #000;
      padding: 0rem 1.1rem;
      margin-bottom: 1.4rem;
      color: #333;
      height: 500px;
      .inner {
        padding: 0.8rem;
        height: 100%;
        h3 {
          color: #EFEFEF; 
          float: left;
          font-size: 1.625rem;
          line-height: 1.8rem;
          background-color: #000;
          padding: 0.4rem 0.7rem;
          font-family: $signika;
          margin-bottom: 0;
        }
        .date {
          clear: both;
          color: #999;
          background-color: #222;
          padding: 0.4rem 0.7rem;
          float: left;
          font-size: 0.7rem;
          margin-top: 0.25rem;
          text-transform: uppercase;
        }
      }
    }
  }
  
  .latest_post_container {
    background-color: #000;
    color: white;
    padding: 0rem 1.1rem;
    height: 500px;
    overflow: hidden;
    .inner {
      padding: 0.8rem;
      height: 100%;
      background-color: $madhouseblue;
    }
    h3 {
      font-family: $signika;
      font-size: 1.8rem;
      line-height: 2rem;
      margin-bottom: 0.8rem;
      
      color: #FFF;
    }
    .post_entry {
      margin-bottom: 2rem;
      .title {
        font-family: $signika;
        font-size: 1.125rem;
        line-height: 1.4rem;
        font-style: italic;
        margin-bottom: 0.4rem;
        a {
          color: #ccc;
          &:hover {
            color: #FFF;
          }
        }
      }
      .date {
        font-size: 0.7rem;

        color: #EFEFEF;
        text-transform: uppercase;
      }
    }
  }
}

.event {
  
  .related_header {
    margin-top: 4rem;
    font-family: $signika;
    color: $madhouseblue;
    font-size: 2rem;
    padding-left: 0;
  }
  .event_title_bar {
    background-color: black;
    margin-bottom: 3.125rem;
    color: white;
    padding: 2.8rem 0 2.8rem 3rem;
    a {
      color: $madhouseblue;
    }
    h1 {
      font-family: $signika;
      font-size: 2.375rem;
      line-height: 2.5rem;
      color: white;
    }
    h4 {
      a { color: #BBB; }
    }
  }
  .event_description, .event_description p {
    font-family: $bodytext;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333;
  }
  
  .event_info, .event_info p {
    margin-top: 1.5rem;
    color: $madhouseblue;
    font-family: $signika;
    line-height: 1.625rem;
    font-size: 1.125rem;
    .aikataulu {
      margin-top: 1.5rem;
      .instance {
        margin: 0 1rem;
        font-size: 1rem;
        padding: 0;
      }
    }
  }
  .google_map {
    display: none;
  }
  .festival_event {
    padding-bottom: 25%;
    height: 0;
    margin: 0.5rem 0;
    cursor: pointer;
    &.odd {
      background-color: $madhouseblue;
    }
    &.even {
      background-color: #222;
    }
    
    .title {
      margin-top: 0.5rem;
      font-family: $signika;
      font-size: 1.4rem;
      line-height: 1.76rem;
      background-color: white;
      padding: 0.3rem;
      float: left;
    }
    .dates {
      margin-top: 0.5rem;
      font-family: $signika;
      font-size: 0.9rem;
      line-height: 1.76rem;
      background-color: white;
      padding: 0.3rem;
      float: left;
    }
  }
  
  .prev_next {
    margin: 4rem 0;
    font-size: 1.125rem;
    font-family: $signika;
    a {
      color: $madhouseblue;
    }
  }
  
  
}

.post_single {

  .post_title {
    padding: 1.5rem 0;
    margin-bottom: 0.8rem;
    background-color: $madhouseblue;
    .blog_title {
      font-family: $signika;
      font-size: 2rem;
      line-height: 2.4rem;
      color: #FFF;
    }
  }
  
  .post_content {
    .post_metadata {
      font-size: 0.8rem;
      text-transform: uppercase;
      color: #333;
      margin-bottom: 1rem;
    }
    .blog_image {
      margin-bottom: 1rem;
    }
    .blog_body, .blog_body p {
      color: #333;
      font-size: 0.875rem;
    }
  }
  .prev_next {
    margin: 4rem 0;
    font-size: 1.125rem;
    font-family: $signika;
    a {
      color: $madhouseblue;
    }
  }
  
}

#mapcontainer {
  height: 200px;
}


// events index page

.events_index {
  h2 {
    font-family: $signika;
    font-size: 2.2rem;
    color: #FFF;
  }
  background-color: black;
  padding: 1.5rem 0;
  color: white;
  .latest_event_container {
    background-color: #000;
    color: white;
    padding: 0rem 1.1rem;
    height: 500px;
    overflow: hidden;
    .inner {
      padding: 0.8rem;
      height: 100%;
      background-color: $madhouseblue;
    }
    h3 {
      font-family: $signika;
      font-size: 1.8rem;
      line-height: 2rem;
      margin-bottom: 0.8rem;
      
      color: #FFF;
    }
    .event_entry {
      margin-bottom: 2rem;
      .title {
        font-family: $signika;
        font-size: 1.125rem;
        line-height: 1.4rem;
        font-style: italic;
        margin-bottom: 0.4rem;
        a {
          color: #ccc;
          &:hover {
            color: #FFF;
          }
        }
      }
      .date {
        font-size: 0.7rem;

        color: #EFEFEF;
        text-transform: uppercase;
      }
    }
  }
  
  
  h3 {
    font-family: $signika;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 0.8rem;
    
    color: #FFF;
  }
  .single_event {
    background-color: #000;
    padding: 0rem 1.1rem;
    margin-bottom: 1.4rem;
    color: #333;
    height: 500px;
    
    .inner {
      padding: 0.8rem;
      height: 100%;
      h3 {
        a { color: #EFEFEF; 
          &:hover {
            color: $madhouseblue;
          }
        }
        float: left;
        font-size: 1.625rem;
        line-height: 1.8rem;
        background-color: #000;
        padding: 0.4rem 0.7rem;
        font-family: $signika;
        margin-bottom: 0;
      }
      .date {
        clear: both;
        color: #999;
        background-color: #222;
        padding: 0.4rem 0.7rem;
        float: left;
        font-size: 0.7rem;
        margin-top: 0.25rem;
        text-transform: uppercase;
      }
      
      .lower_link {
        clear: both;
        position: absolute;
        right: 2rem;
        bottom: 1rem;
        a { color: #EFEFEF; 
          &:hover {
            color: $madhouseblue;
          }
        }
        background-color: #222;
        padding: 0.4rem 0.7rem;
        float: right;
        font-size: 1.1rem;
        margin-top: 0.25rem;
        text-transform: uppercase; 
      }
    }
  }
}

// calendar pull-tab
.calendar {
  width: 85%;
  left: -85%;
  position: fixed;
  z-index: 899;
  opacity: 0.95;
  background-color: $madhouselightblue;
  padding: 1.5rem;
  
  #calendar {
    float: left;
    .fc-event-container .fc-event {
      background-color: $madhouseblue;
    }
    .fc-day-grid-event .fc-content {
      white-space: inherit;
    }
    .fc-toolbar {
      margin-bottom: 0.2rem;
      .fc-left, .fc-left .fc-button-group, .fc-right .fc-button-group {
        button {
          box-sizing: border-box;
          margin: 0;
          height: 1.4rem;
          padding: 0 .3rem;
          font-size: 0.75rem;
          white-space: nowrap;
          cursor: pointer;
        }
      }
      
      h2 {
        font-size: 1.2rem;
        font-family: $signika;
      
      }
      .fc-center {

      }
    }
    .fc-row {
      th {
        font-family: $signika;
      }
    }
  }
  .calendar_tab {
    border-radius: 0px 30px 30px 0px;
    padding: 0.75rem;
    font-size: 2.15rem;
    left: 100%;

    position: absolute;
    background-color: #8be1e5;
    margin: -24px 0 0 0;
  }
}

