header {
  
  .icons {
    float: left;
    margin: -2.7rem 0 0 1rem;
  }
  .title {
    min-height: 50px;
    text-align: center;

    padding: 0.7rem;
  }
  .languages {
    float: right;
    margin: -2.5rem 1rem 0 1rem;
    font-size: 0.7rem;
  }
  
  clear: both;
}

.carousel {
  text-align: center;
  .slide {
    img {
      width: 100%;
      height: auto;
    }
  }
}