//@import "foundation/functions";
@import 'variables';
$small-range: (0em, 40em); /* 0, 640px */
$medium-range: (40.063em, 64em); /* 641px, 1024px */
$large-range: (75em, 90em); /* 1025px, 1440px */
$xlarge-range: (90.063em); /* 1441px + */

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$small-up: $screen !default;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;
$medium-portrait-only:"#{$screen} and (orientation: portrait) and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})" !default;


@media #{$small-only} { 
  header {
    .icons {
      top: 8px;
    }
    .languages {
      top: 8px;
    }
    .title {
      margin-top: 1.5rem;}
  }
  #calendar_container {
    .calendar_tab {
      font-size: 1.15rem;
    }
  }
  .carousel {
    .slide {
      .caption {
        span.category, span.title {
          font-size: 0.9rem;
          
        }
        .date {
          font-size: 0.7rem;}
      }
    }
  }
  .upcoming_events .event .description, .upcoming_events .event .top_box {
    height: inherit;
  }

  .front_posts_container {
    .latest_post_container {
      margin-bottom: 0.8rem;
    }
    .single_post, .latest_post_container {
      height: 350px;
      h3 {
        font-size: 1.1rem;
        line-height: 1.3rem;
      }
      .post_entry {
        margin-bottom: 0.8rem;
        .title {
          font-size: 0.9rem;
          line-height: 1.2rem;
        }
      }
    }
  }
  
  
}



@media #{$xlarge-up} {
   

    //may add push and pull, check _grid.scss, line 269
}