/*
 *= require_self
 *= require jquery-ui/tabs
 *= require datetimepicker
 *= require fullcalendar
 *= require chosen
 */

@import 'madhouse/stylesheets/foundation_and_overrides';

.top-bar {
  a.item {
    border: 1px dotted blue;
    padding: 0.4rem;
    border-radius: 2px;
    text-decoration: none;
    height: 80px;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  img {
    max-width: 40px;
    height: auto;
  }
}

nav.pagination {
  span.page, span.next, span.prev, span.first, span.last {
    float: left !important;
  }
}
form {
  li {
    list-style-type: none;
    &.string {
      margin-bottom: 1rem;
    }
  }
  label.label {
    background-color: transparent;
    color: darkblue;
    padding: 0.25rem 0;
    font-size: 0.9rem;
  }
  input[type=text],input[type=number] {
    margin-bottom: 0;
  }

  p.inline-hints {
    font-size: 0.74rem;
    color: #666;
    font-weight: italic;
  }
}

.row {
  &.odd {
    background-color: #efefef;
  }
  &.instances {
    font-size: 0.8rem;
  }
}


td {
  .translations {
    margin-top: 1rem;
    font-size: 0.75rem;
    color: #666;
  }
}
.events_container {
  font-size: 0.875rem;
  color: #333;
  .row {
    padding: .5rem 0;
    .span_date {
      font-size: 0.9rem;
      color: #444;
    }
    &.new_year {
      border-bottom: 4px solid red;
      margin-bottom: 2rem;
    }
  }
}
