/*
 *= require_self
 *= require jquery-ui/tabs
 *= require datetimepicker
 */

@import 'foundation';

form {
  li {
    list-style-type: none;
    &.string {
      margin-bottom: 1rem;
    }
  }
  label.label {
    background-color: transparent;
    color: darkblue;
    padding: 0.25rem 0;
    font-size: 0.9rem;
  }
  input[type=text],input[type=number] {
    margin-bottom: 0;
  }
  
  p.inline-hints {
    font-size: 0.74rem;
    color: #666;
    font-weight: italic;
  }
}

.row {
  &.instances {
    font-size: 0.8rem;
  }
}