$madhouseblue: rgb(35, 164, 170);
$madhouselightblue: #8be1e5;
// $signika: 'Roboto Mono', monospace;
$signika: 'Signika', sans-serif;
$bodytext: 'Verdana', 'Arial', sans-serif;
//$primary-color: $madhouseblue;