$nice-blue: #0BB0F0;
$lighter-blue: #88D9F7;


.participants {
  border-top: 1px solid #999;
  padding-bottom: 30px;
  .blog_body {
    line-height: 15px;
  }
}
#logo_words {
  margin-top: 49px;
  margin-left: 25px;
}
.dk_box {
  text-align: right;
}

#date_header {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;

  padding-right: 18px;
  margin-top: 15px;
}
p {
  font: 14px/19px Helvetica, Arial, sans-serif;
  a, a:visited {
    color: $nice-blue;
    &:hover {
      color: $lighter-blue;
    }
  }
}

a, a:visited {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #0BB0F0;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  padding-left: 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #999;
}

.participant_image {
  img {
    max-width: 100%;
    height: auto;
  }
}

.news_box {
  border-top: 1px solid #999;
  padding-top: 10px;
  ul {
    li {

      a {
        color: $nice-blue;
        font-size: 18px;
        &:hover {
          color: $lighter-blue;
        };
      }
    }
  }
}
.participant_name {
  font-size: 16px;
  font-weight: bold
}
.participant_bio {
  margin-top: 10px;
  line-height: 16px;
}
.participant_location {
  font-size: 16px;
  font-style: italic;
}
.participant_project {
  font-size: 16px;
  color: #999;
}

.partners {
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    padding: 5px;
    margin-right: 10px;
  }
}

.see_all {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
}

#top_bar {
  margin-bottom: 30px;
}
  #slider {
    width: 100%;
    height: 250px;
    min-height: 0;
  }

.event_front_single {
  .blog_title {
    background: none;
    height: auto;
    padding-left: 0px;
    a {
      font-size: 18px;
    }
  }
  .post_metadata {
    padding: 5px 0px 5px 0px;
  }
  .blog_image {
    padding: 5px 0px 5px 0px;
  }
  .blog_body {
    line-height: 15px;
    padding: 10px 30px 5px 0px;
    p {
      margin-bottom: 10px;
    }
  }
  .share_this {
    margin-left: 0px;
  }
}

.sidebar {
  margin-top: 40px;
}
.frontpage, .sidebar {
  margin-top: 40px;
  .posts {
    border-top: 1px solid #999;
  

    .front_single {
      .blog_title {
        margin: 10px 0px 0px 0px;
      }
      .post_metadata {
        line-height: 12px;
      }
      .blog_body {
        padding: 5px 0px 5px 0px;
        p {
          margin-bottom: 10px;
        }
      }
    }
    #reg_form_412 {
      padding: 5px;
      p {
        margin-bottom: 10px;
        line-height: 15px;
      }
    }
    #reg_form_412 {
      .form_412_rest {
        display: none;
      }

      label {
        width: 80px;
        font-size: 11px;
        line-height: 12px;
        margin-right: 10px;
        text-align: right;
        float: left;
      }

      input[type=text], textarea {
        float: left;
        margin-left: 0px;
        margin-bottom: 10px;
        height: 8px;
        width: 150px;
      }
      input#recaptcha_response_field {
        height: 12px;
      }
      input[type=file] {
        float: left;
        margin-bottom: 10px;
        height: 80px;
        width: 150px;
      }
    }
  }
  .page {
    overflow: hidden;

    .title {
      border-top: 1px solid #999;
      border-right: 1px solid #999;
      border-left: 1px solid #999;
      padding-left: 5px;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: black;

      }
    a.block {
      color: #444444;
      display: block;
      float: left;
      font-size: 11px;
      font-size-adjust: none;
      font-stretch: normal;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: normal;
      list-style-type: none;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      width: 100%;
      height: 240px;
      margin-bottom: 20px;
      &:hover {
        cursor: pointer;
        color: black;

        .outer_hover {
          opacity: 0.6;
          -webkit-transition: opacity 1.1s linear;
          -moz-transition: opacity 1.1s linear;

          display: block;
        }
      }

      .outer_hover {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        padding-top: 20px;
        background-color: #000;
        display: none;
        z-index: 10;
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
   
        opacity: 0.75;
      }

    }
  }
}

.contact_box {
  border-top: 1px solid #999;
  width: 290px;
  padding: 5px;
  .news_title li {
    list-style-type: disc;
    margin-left: 25px;
    font: 16px/18px Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
    .post_metadata {
      color: #666;
      font-size: 11px;
      line-height: 13px;
    }
    a {
      color: $nice-blue;
      &:hover { color: $lighter-blue; 
      }
    }
  }
  p {
    font: 14px/19px Helvetica, Arial, sans-serif;
  }
}

.registration_form h3 {
  font-size: 16px;
}