@import '_settings';

* {
  border-spacing: 0;
}

	body.is-reveal-open { 
	    overflow: visible !important;
	}
	.reveal-overlay {
    height: auto;
    width: 250px;
    max-height: 85vH;
    overflow-y:scroll;
    overflow-x: hidden;
//    overflow: hidden;
	}

.demi, span.demi {
  font-family: 'Rift-Demi';
}

.ital, span.ital {
  font-family: 'Rift-Italic';
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll; 
}

body {
  background: none;
}

header {
  min-height: 8.25rem;
  .mini_calendar {
    float: left;
    @include breakpoint(small only) {
        clear: both;
    }
  }
  .left_header_title {  
    float: left;
    max-width: 50%;
    @include breakpoint(small only) {
      max-width: 100%;
      width: 100%;
    }
    font-family: 'Rift-Regular';
    font-size: 4.2rem;
    line-height: 2.6rem;
    .top_line {
      line-height: 3rem;
      width: 100%;


      .english {

        @include breakpoint(medium only) {
          font-size: 0.6em;
          line-height: 1em;
        }
        float: right;
        text-align: right;
        font-family: 'Rift-Light';
        a { 
          color: black;
          &:hover {
            font-family: 'Rift-Bold';
          }
        }
        .active {
          font-family: 'Rift-Demi';
        }
      }
    }
    .bottom_line {
      width: 100%;
      float: right;
      border-top: 1px solid black;
      .latvian {
        @include breakpoint(medium only) {
          font-size: 0.6em;
        }
        float: right;
        text-align: right;
        font-family: 'Rift-Light';
        a { 
          color: black;
          &:hover {
            font-family: 'Rift-Bold';
          }
        }
        .active {
          font-family: 'Rift-Demi';
        }
      }
    }
    
  }
  
  .filtering_engine {
    .title {
      font-size: 2.625rem; 
      line-height: 1.9rem;
      font-family: 'Rift-Medium';
      border-bottom: 1px solid black;
    }
    .filter_menu {
      
      ul.categories {
        float: left;
        li {
          
          text-transform: uppercase;
          font-family: 'Rift-Bold';
          letter-spacing: 0.6px;
          a { color: white; 
            padding: 0.188rem;
            }
          font-size: 0.875rem;
          border: 1px solid #333;
          background-color: #6b7a89;
          text-align: right;
          float: right;
          clear: right;
          padding: 0;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
          &.blue {
            background-color: #336699;
            max-width: 102px;
            text-align: left;
          }
          &.green {
            text-align: left;
            max-width: 103px;
            background-color: #339933;
          }
          ul {
            float: left;
            
            li {
              opacity: 1;
              text-align: left;
              border: none;
              font-family: 'Rift-Regular';
              font-size: 0.750rem;
              a { color: black;
                &.active {
                  font-family: 'Rift-Bold';
                  font-weight: bold;
                  color: white;
                }
                &:hover { color: white;
                }
              }
              background-color: #a3afb2;
            }
          }
        }
      }
      
      .secondary_menu {
        
        ul {
          display: none;
        }
      }
    }
  }
  
}

#prev_week, #next_week {
  font-size: 8.5rem;
  position: absolute;
  cursor: pointer;
  top: 50%;
  font-family: 'Rift-Light';
}
#prev_week {
  left: 0;
}
#next_week{ 
  left: 77%;
  @include breakpoint(medium only) {
    right: 1%;
    left: initial;
  }
}
.show_page {
  p {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 0.875rem;

    a { 
      color: #000;
      
    }
  }
  .page_body {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 2.4rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2.4rem; /* Firefox */
    column-gap: 2.4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 0.875rem;


    h2 {
      font-family: 'Rift-Demi';
      font-size: 1rem;
      color: #333;
      text-transform: uppercase;
    }
    p {
      font-family: Arial, Helvetica, sans-serif;
      color: #333;
      font-size: 0.875rem;
    }
  }
}

.event_info {
  max-width: 273px;
  background: transparent;
  border: none;
  padding: 0;
  &:focus {
    outline: none;
  }
  .corner {
    float: left;
    width: 29px;
    position: relative;
  }
  .bottom_corner {
    float: left;
    position: absolute;
    bottom: 0;
    display: none;  
  }
  .map_overlay {
    max-height: 80vH;
    overflow-y: auto;
    margin-left: -1px;
    background-color: white;
    .text {  padding: 0.8rem 1rem; 
    
      .title {
        padding: 1rem 0;
      }
    }
    width: 230px;
    border: 1px solid black;
    float: left;  
    .close-button {
      color: black;
      right: 1.6rem;
      top: -11px;
      font-size: 3.2rem;
    }
  
    color: #909090;
    font-family: 'Rift-Regular';
    font-size: 0.825rem;
    a {
      color: black;
    }
    h1 {
      font-size: 1.2rem;
      font-family: 'Rift-Regular';
    }
  
  }
}

.wide_wrapper {
  margin: 0.4rem 0 1.4rem 0;
  padding: 0 1.2rem;
  max-width: 80%;
}

.boxy_wrapper {
  @include breakpoint(medium only) {
    display: none;
  }
  position: absolute;
  right: 5%;
  top: 8%;
  max-width: 18%;
  .box {
    margin: 1.4rem 0 3rem 0;
  }
}

.infowindow {
  .place_name {
    font-family: 'Rift-Demi';
    font-size: 1.4rem;
  }
  ul.events {
    margin: 1rem 0;
    padding: 0;
    li {
      list-style-type: none;
      font-family: 'Rift-Regular';
      font-size: 1rem;
      margin-bottom: 1rem;
      .date {
        font-size: 0.85rem;
        color: #333;
      }
    }
  }
}
#map {
  width: 100%;
  height: 65vH;
  display: none;
  z-index: 1;
}
.cities_header {
  margin-left: 3.5%;
  .cities {
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        font-family: 'Rift-Regular';
        font-size: 3.55rem;
        text-transform: uppercase;
        color: #666699;
        float: left;
        padding-right: 1.25rem;
      
        &.active {
          color: black;
        }
      }
    }
  }
}
#main {
  .calendar_outer_frame {
    margin-left: 3.5%;
  

  
    .banner_ad {
      height: 75px;
      margin: 1.25rem 0;
      width: 100%;
      background-color: green;

    }
  }
  
  .the_calendar {
    nav {
      border: 1px solid black;
      padding: 0;
      float: left;
      background-color: white;
      ul {
        margin: 0;
        padding: 0;
        font-family: 'Rift-Bold';
        &.event_categories {
          background-color: white;
        }
        li {
          padding: 0.25rem;
          background-color: white;
          list-style-type: none;
          
          float: left;
          text-transform: uppercase;
          font-size: 1rem;
          color: black;
          a { color: #333; 
            &.active {
              color: black;
            }
          }
          &.month_title {
            background-color: black;
            color: white;
            padding-right: 1.125rem;
            font-size: 1.125rem;
            letter-spacing: 0.1rem;
            margin-right: 0.75rem;
          }
        }
      }
    }
    
  }
}
.fc-today, .today,  {
  background-color: #659b86;
  opacity: 0.85;
}
#calendar {
  table {
      table-layout: fixed;
  }
  
  thead, table, tbody, tr {
    background: transparent !important;
  }
  .fc-bg {
    display: none;
  }
  .fc-toolbar {
    .fc-right {
      button {
        display: none;
      }
      .fc-button-group {
        display: none;
      }
    }
  }
  
  .fc-view {
    table {
      float: left;
      tr {
        background-color: white;
      }
      thead.fc-head {
        border: none;
        tr {
          td.fc-head-container {
            padding: 0;
            .fc-widget-header {
              table {
                margin-bottom: 0;
                padding-bottom: 1rem;
                thead {
                  border: none;
                  .fc-day-header {
                    font-family: 'Rift-Light';
                    font-size: 0.75rem;
//                    min-width: 116px;
                    &.fc-today {
                      min-width: 100px;
                      background-color: #659b86;
                    }
                    .ct-day {
                      font-family: 'Rift-Bold';
                      font-size: 1.875rem;
                      line-height: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }


    .fc-body {
      border: none;
      .fc-widget-content {
        padding: 0;
    
        .fc-day-grid-container {
          border-collapse: inherit;
          .fc-content-skeleton {
            table {
              border-collapse: inherit;
              tbody {
                border: none;
                tr {
                  td {
//                    min-width: 116px;
                    &.fc-event-container {
                      &.fc-today {
                        min-width: 100px;
                        background-color: #659b86;
                      }
                      vertical-align: top;
                      a.fc-event {
                        color: black;
                        .fc-content {
                          font-size: 0.925rem;
                          line-height: 1.02rem;
                          font-family: 'Rift-Light';
                          span.fc-title {
                            font-family: 'Rift-Demi';
                            
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
}