#minicalendar {
  .fc-day-grid-container.fc-scroller {
      height: auto!important;
      overflow-y: auto;
  }
  table {
      table-layout: fixed;
  }
  thead, table, tbody, tr {
    background: transparent !important;
  }
  span.fc-day-number {
    color: #333 !important;
  }
  .fc-today {
    background-color: #659b86;
  }
  .fc-toolbar {
    margin-left: 2rem;
    .fc-left, .fc-center {
      float: left;
      padding: 0.2rem;
    }
    .fc-right {
     
      float: left;
      h2 {
         padding-top: 0.4rem;
        font-size: 0.813rem;
        font-weight: bold;
        font-family: 'Rift-Bold';
        text-transform: uppercase;
      }
    }
    .fc-right {
      button {
        float: left;
//        display: none;
      }
      .fc-button-group {
//        display: none;
      }
    }
  }
  
  .fc-view {
    table {
      float: left;
      tr {
        background-color: white;
      }
      thead.fc-head {
        border: none;
        tr {
          td.fc-head-container {
            padding: 0;
            .fc-widget-header {
              table {
                margin-bottom: 0;
                thead {
                  border: none;
                  .fc-day-header {
                    font-family: 'Rift-Light';
                    font-size: 0.75rem;
                    padding: 0;
//                    width: 43px;
                    .ct-day {
                      font-family: 'Rift-Bold';
                      font-size: 1.875rem;
                      line-height: 1;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    
    .fc-bg {
      display: none;
    }
    .fc-body {
      border: none;
      .fc-widget-content {
        padding: 0;
    
        .fc-day-grid-container {
          border-collapse: inherit;
          .fc-day-grid {
            .fc-row {
              height: initial !important;
            }
          }
          .fc-content-skeleton {
            table {
              margin-bottom: 0;
              border-collapse: inherit;
              thead {
                border: none;
                tr {
                  border: 1px dotted transparent;
                  cursor: pointer;
                  box-model: border-box;
                  &:hover {
                    border: 1px dotted #FFF;
                  }
                }
                td {
                  &.fc-day-top {
                    padding: 0;
                    font-family: 'Rift-Bold';
                    font-size: 0.925rem;
                    line-height: 1rem;
                  }
                  &.fc-other-month {
                    
                  }
                }
              }
              tbody {
                border: none;
                tr {
                  td {
                    padding: 0.15rem 0.625rem;
                    &.fc-event-container {
                      vertical-align: top;
                      a.fc-event {
                        color: black;
                        .fc-content {
                          font-size: 0.925rem;
                          line-height: 1.02rem;
                          font-family: 'Rift-Light';
                          span.fc-title {
                            font-family: 'Rift-Demi';
                            
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
}