/*
 *= require_self
 *= require jquery-ui/tabs
 *= require datetimepicker
 */

#admin_top_column {
  width: 100%;
}
form {
  li {
    list-style-type: none;
  }
  color: black;
  input[type=text] {
    width: 450px;
  }
  label {
    &.label {
      color: black;
      background: none;
    }
    
    font-size: 1.1rem;
  }
}

nav.pagination {
  span {
    float: left;
  }
}

.events_container {
  .event {
    
    &.odd {
      background-color: #EDE;
    }
    .title {
      font-size: 1.4rem;
    }
  }
}

.cms_grid {
  .calendarbackground {
    padding: 1rem 0;
    &.odd {
      background-color: #dbd;
    }
  }
}