
%ul
  %li= link_to('Ptarmigan gmail', 'https://www.google.com/a/ptarmigan.fi/ServiceLogin?service=mail&passive=true&rm=false&continue=http%3A%2F%2Fmail.google.com%2Fa%2Fptarmigan.fi%2F%3Ftextfield%3Dptarmigan.fi%26select%3Dhttp%253A%252F%252Fmail.google.com%252Fa%252F&bsv=zpwhtygjntrz&ltmpl=default&ltmplcache=2')
  %li= link_to('staff wiki', '/wiki')
  %li= link_to('new wiki page', '/wikipages/new')
  %li= link_to('latest staff chatter', '/wiki/Latest')